*{
    padding: 0px;
    margin: 0px;
}
#amount{
  display: none;
}
#genins{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform-origin: 0% 0%;
    z-index: 111;
    background-color: #fff;
    border-radius: 1em;
    padding: 2.5em 2.5em 2.5em 3.5em;
    width: 35em;
    transition: 0.7s;
    align-items: center;
    gap: 1.3em;
}

#geniswhole{
  height: 100%;
  display: flex;
  width: 100%;
  overflow: hidden;
  background-color: #000000;
  position: fixed;
  opacity: 0.3;
  top: 0px;
  left: 0px;
  transition: 1s;
  z-index: 100;
}
#genhead{
  font-family: 'Nova Square', sans-serif;
  font-size: 2.5em;
  text-decoration: underline;
  text-underline-offset:  .15em;
  text-decoration-thickness: 1px;
}
#listhead{
  font-family: "Finlandica", sans-serif;
  font-size: 1.5em;
}
body{
    background-color: #ffffff;
}
#solo{
  font-size: 0.65em;
  color: rgb(34, 34, 34);
}
#photo{
    margin: 0px;
    padding: 0px;
    height: 100vh;
    width: 66vh;
    filter: brightness(90%);
}
.coolinput {
    display: flex;
    flex-direction: column;
    width: fit-content;
    position: static;
    width: 24em;
  }
  
  .coolinput label.text {
    font-size: 1em;
    color: #818CF8;
    font-weight: 700;
    position: relative;
    top: 0.5rem;
    margin: 0 0 0 7px;
    padding: 0 3px;
    background: #ffffff;
    width: fit-content;
  }
  
  .coolinput input.input {
    padding: 11px 10px;
    font-size: 1.1em;
    border: 2px #818CF8 solid;
    border-radius: 5px;
    background: #ffffff;
  }
  
  .coolinput input.input:focus {
    outline: none;
  }


  #nameinput{
    display: flex;
    flex-direction: row;
    gap: 1em;
  }
  #nameinput2{
    display: flex;
    flex-direction: row;
    gap: 1em;
  }
  #nameinput3{
    display: flex;
    flex-direction: row;
    gap: 1em;
  }
  #nameinput22{
    display: none;
  }

  #coolinput1 {
    display: flex;
    flex-direction: column;
    width: fit-content;
    position: static;
    width: 24em;
  }
  
  #coolinput1 label.text {
    font-size: 1em;
    color: #818CF8;
    font-weight: 700;
    position: relative;
    top: 0.5rem;
    margin: 0 0 0 7px;
    padding: 0 3px;
    background: #ffffff;
    width: fit-content;
  }
  
  #coolinput1 input.input {
    padding: 11px 10px;
    font-size: 1.1em;
    border: 2px #818CF8 solid;
    border-radius: 5px;
    background: #ffffff;
  }
  
  #coolinput1 input.input:focus {
    outline: none;
  }

  #coolinput2 {
    display: flex;
    flex-direction: column;
    width: fit-content;
    position: static;
    width: 11.5em;
  }
  #input22{
    display: none;
  }
  
  #coolinput2 label.text {
    font-size: 1em;
    color: #818CF8;
    font-weight: 700;
    position: relative;
    top: 0.5rem;
    margin: 0 0 0 7px;
    padding: 0 3px;
    background: #ffffff;
    width: fit-content;
  }
  
  #coolinput2 input.input {
    padding: 11px 10px;
    font-size: 1.1em;
    border: 2px #818CF8 solid;
    border-radius: 5px;
    background: #ffffff;
  }
  
  #coolinput2 input.input:focus {
    outline: none;
  }

  #coolinput3 {
    display: flex;
    flex-direction: column;
    width: fit-content;
    position: static;
    width: 11.5em;
  }
  
  #coolinput3 label.text {
    font-size: 1em;
    color: #818CF8;
    font-weight: 700;
    position: relative;
    top: 0.5rem;
    margin: 0 0 0 7px;
    padding: 0 3px;
    background: #ffffff;
    width: fit-content;
  }
  
  #coolinput3 input.input {
    padding: 11px 10px;
    font-size: 1.1em;
    border: 2px #818CF8 solid;
    border-radius: 5px;
    background: #ffffff;
  }
  
  #coolinput3 input.input:focus {
    outline: none;
  }

  #coolinput4 {
    display: flex;
    flex-direction: column;
    width: fit-content;
    position: static;
    width: 11.5em;
  }
  
  #coolinput4 label.text {
    font-size: 1em;
    color: #818CF8;
    font-weight: 700;
    position: relative;
    top: 0.5rem;
    margin: 0 0 0 7px;
    padding: 0 3px;
    background: #ffffff;
    width: fit-content;
  }
  
  #coolinput4 input.input {
    padding: 11px 10px;
    font-size: 1.1em;
    border: 2px #818CF8 solid;
    border-radius: 5px;
    background: #ffffff;
  }
  
  #coolinput4 input.input:focus {
    outline: none;
  }


  #coolinput5 {
    display: flex;
    flex-direction: column;
    width: fit-content;
    position: static;
    width: 11.5em;
  }
  
  #coolinput5 label.text {
    font-size: 1em;
    color: #818CF8;
    font-weight: 700;
    position: relative;
    top: 0.5rem;
    margin: 0 0 0 7px;
    padding: 0 3px;
    background: #ffffff;
    width: fit-content;
  }
  
  #coolinput5 input.input {
    padding: 11px 10px;
    font-size: 1.1em;
    border: 2px #818CF8 solid;
    border-radius: 5px;
    background: #ffffff;
  }
  
  #coolinput5 input.input:focus {
    outline: none;
  }

  /* checkbox settings 👇 */

.ui-checkbox {
    --primary-color: #1677ff;
    --secondary-color: #fcfdfd;
    --primary-hover-color: #4096ff;
    /* checkbox */
    --checkbox-diameter: 20px;
    --checkbox-border-radius: 5px;
    --checkbox-border-color: #d9d9d9;
    --checkbox-border-width: 1px;
    --checkbox-border-style: solid;
    /* checkmark */
    --checkmark-size: 1.2;
  }
  
  .ui-checkbox, 
  .ui-checkbox *, 
  .ui-checkbox *::before, 
  .ui-checkbox *::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  .ui-checkbox {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: var(--checkbox-diameter);
    height: var(--checkbox-diameter);
    border-radius: var(--checkbox-border-radius);
    background: var(--secondary-color);
    border: var(--checkbox-border-width) var(--checkbox-border-style) var(--checkbox-border-color);
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    cursor: pointer;
    position: relative;
  }
  
  .ui-checkbox::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-box-shadow: 0 0 0 calc(var(--checkbox-diameter) / 2.5) var(--primary-color);
    box-shadow: 0 0 0 calc(var(--checkbox-diameter) / 2.5) var(--primary-color);
    border-radius: inherit;
    opacity: 0;
    -webkit-transition: all 0.5s cubic-bezier(0.12, 0.4, 0.29, 1.46);
    -o-transition: all 0.5s cubic-bezier(0.12, 0.4, 0.29, 1.46);
    transition: all 0.5s cubic-bezier(0.12, 0.4, 0.29, 1.46);
  }
  
  .ui-checkbox::before {
    top: 40%;
    left: 50%;
    content: "";
    position: absolute;
    width: 4px;
    height: 7px;
    border-right: 2px solid var(--secondary-color);
    border-bottom: 2px solid var(--secondary-color);
    -webkit-transform: translate(-50%, -50%) rotate(45deg) scale(0);
    -ms-transform: translate(-50%, -50%) rotate(45deg) scale(0);
    transform: translate(-50%, -50%) rotate(45deg) scale(0);
    opacity: 0;
    -webkit-transition: all 0.1s cubic-bezier(0.71, -0.46, 0.88, 0.6),opacity 0.1s;
    -o-transition: all 0.1s cubic-bezier(0.71, -0.46, 0.88, 0.6),opacity 0.1s;
    transition: all 0.1s cubic-bezier(0.71, -0.46, 0.88, 0.6),opacity 0.1s;
  }
  
  /* actions */
  
  .ui-checkbox:hover {
    border-color: var(--primary-color);
  }
  
  .ui-checkbox:checked {
    background: var(--primary-color);
    border-color: transparent;
  }
  
  .ui-checkbox:checked::before {
    opacity: 1;
    -webkit-transform: translate(-50%, -50%) rotate(45deg) scale(var(--checkmark-size));
    -ms-transform: translate(-50%, -50%) rotate(45deg) scale(var(--checkmark-size));
    transform: translate(-50%, -50%) rotate(45deg) scale(var(--checkmark-size));
    -webkit-transition: all 0.2s cubic-bezier(0.12, 0.4, 0.29, 1.46) 0.1s;
    -o-transition: all 0.2s cubic-bezier(0.12, 0.4, 0.29, 1.46) 0.1s;
    transition: all 0.2s cubic-bezier(0.12, 0.4, 0.29, 1.46) 0.1s;
  }
  
  .ui-checkbox:active:not(:checked)::after {
    -webkit-transition: none;
    -o-transition: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    transition: none;
    opacity: 1;
  }



.button {
  position: relative;
  padding: 10px 22px;
  border-radius: 6px;
  width: 15em;
  border: none;
  color: #fff;
  cursor: pointer;
  background-color: #7d2ae8;
  transition: all 0.2s ease;
}

.button:active {
  transform: scale(0.96);
}

.button:before,
.button:after {
  position: absolute;
  content: "";
  width: 150%;
  left: 50%;
  height: 100%;
  transform: translateX(-50%);
  z-index: -1000;
  background-repeat: no-repeat;
}

.button:hover:before {
  top: -70%;
  background-image: radial-gradient(circle, #7d2ae8 20%, transparent 20%),
    radial-gradient(circle, transparent 20%, #7d2ae8 20%, transparent 30%),
    radial-gradient(circle, #7d2ae8 20%, transparent 20%),
    radial-gradient(circle, #7d2ae8 20%, transparent 20%),
    radial-gradient(circle, transparent 10%, #7d2ae8 15%, transparent 20%),
    radial-gradient(circle, #7d2ae8 20%, transparent 20%),
    radial-gradient(circle, #7d2ae8 20%, transparent 20%),
    radial-gradient(circle, #7d2ae8 20%, transparent 20%),
    radial-gradient(circle, #7d2ae8 20%, transparent 20%);
  background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%,
    10% 10%, 18% 18%;
  background-position: 50% 120%;
  animation: greentopBubbles 0.6s ease;
}

@keyframes greentopBubbles {
  0% {
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%,
      40% 90%, 55% 90%, 70% 90%;
  }

  50% {
    background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%,
      50% 50%, 65% 20%, 90% 30%;
  }

  100% {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%,
      50% 40%, 65% 10%, 90% 20%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}

.button:hover::after {
  bottom: -70%;
  background-image: radial-gradient(circle, #7d2ae8 20%, transparent 20%),
    radial-gradient(circle, #7d2ae8 20%, transparent 20%),
    radial-gradient(circle, transparent 10%, #7d2ae8 15%, transparent 20%),
    radial-gradient(circle, #7d2ae8 20%, transparent 20%),
    radial-gradient(circle, #7d2ae8 20%, transparent 20%),
    radial-gradient(circle, #7d2ae8 20%, transparent 20%),
    radial-gradient(circle, #7d2ae8 20%, transparent 20%);
  background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 20% 20%, 18% 18%;
  background-position: 50% 0%;
  animation: greenbottomBubbles 0.6s ease;
}

@keyframes greenbottomBubbles {
  0% {
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%,
      70% -10%, 70% 0%;
  }

  50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%,
      105% 0%;
  }

  100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%,
      110% 10%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}

  #subdiv{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.5em;
  }
  #wholediv{
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 2.5em;
  }
  #new{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  #entire{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
  }
  form{
    display: flex;
    flex-direction: column;
    gap:  0.4em;
    margin-right: 20em;
  }
  #red{
    font-family: 'Nova Square', sans-serif;
    font-size: 3em;
    color: rgb(27, 27, 27);
  }
  #selecteve{
    font-size: 1.2em;
    font-family: "Karla", sans-serif;
  }
  #selecteve1{
    font-size: 1.35em;
    font-family: "Karla", sans-serif;
  }
  #check{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.4em;
    font-size: 1.3em;
    font-family: "PT Serif", serif;
  }
  @media screen and (max-width: 1300px) {
    form{
        margin-right: 8em;
    }
  }
  @media screen and (max-width: 950px) {
    form{
        margin-right: 4em;
    }
  }
  @media screen and (max-width: 1000px) {
    #photo{
        height: 40.5em;
        width: auto;
    }
    form{
      margin-left: 2em;
  }
  }
  @media screen and (max-width: 900px) {
    form{
        margin-right: 3em;
    }
    #photo{
        transform: translateX(-3em);
    }
  }
  @media screen and (max-width: 760px) {
    form{
        margin-right: 1em;
    }
    #photo{
        transform: translateX(-5em);
    }
  }
  @media screen and (max-width: 700px) {
    form{
        margin-right: 1em;
        margin-left: 8em;
        margin-top: 2em;
    }
    #photo{
        display: none;
    }
    #new{
        justify-content: center;
    }
    .coolinput{
      width: 20em;
    }
    #coolinput1{
      max-width: 20em;
    }
    #genins{
      width: 28em;
    }
    #coolinput5 {
      width: 9.5em;
    }
  }
  @media screen and (max-width: 600px) {
    form{
        margin-right: 1em;
        margin-left: 1em;
        margin-bottom: 2em;
    }
    #genins{
      width: 25em;
    }
    #genhead{
      font-size: 2em;
    }
    #listhead{
      font-size: 1.3em;
    }
    #wholediv{
      gap: 1em;
    }
  }
  @media screen and (max-width: 530px) {
    #genins{
      width: 20em;
    }
    #genhead{
      font-size: 1.8em;
    }
    #listhead{
      font-size: 1.2em;
    }
  }
  @media screen and (max-width: 460px) {
    #genins{
      width: 14.5em;
    }
    #genhead{
      font-size: 1.5em;
    }
    #listhead{
      font-size: 1.1em;
    }
  }
  @media screen and (max-width: 400px) {
    form{
        margin-right: 0.8em;
        margin-left: 0.8em;
    }
    #genins{
      width: 15em;
    }
    #genhead{
      font-size: 1.5em;
    }
    #listhead{
      font-size: 1.1em;
    }
  }